# Site settings
title: Mixtape Haven
description: Your private, ad-free music sanctuary. Rediscover the art of the mixtape.
url: "" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
permalink: pretty

# Exclude from processing
exclude:
  - node_modules/
  - package.json
  - package-lock.json
  - tailwind.config.js
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor/
